* {
    position: relative;
    border: 0px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.modal_fundo {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(0, 0%, 90%);
    width: 60%;
    height: 85vh;
    border-radius: 46px;
    display: none; /* Inicialmente escondido */
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    opacity: 0; /* Começa invisível */
    transition: opacity 1s ease-in-out; /* Transição de opacidade */
}

.modal_fundo.mostrar {
    display: flex; /* Mostrar modal */
    opacity: 1; /* Tornar visível */
}

.modal_fundo div { /* card */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 306px;
    width: 220px;
    border-top: 3px solid black;
    border-radius: 0px 0px 25px 25px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.modal_fundo div img {
    width: 100px;
    margin: auto;
}

.modal_fundo div div { /* div dos textos */
    width: 100%;
    height: 100px;
    border-radius: 0px 0px 25px 25px;
    background: #13334A;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.modal_fundo2{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(0, 0%, 90%);
    width: 60%;
    height: 85vh;
    border-radius: 46px;
    margin: auto;
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    opacity: 1;
    transition: opacity 1.0s ease, visibility 2.0s;
    
    div { /* card */

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 306px;
        width: 220px;
        border-top: 3px solid black;
        border-radius: 0px 0px 25px 25px ;
        color: white;
        font-size: 16px;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;

        img{
            width: 100px;
            margin: auto;
        }

        div{ /* div dos textos */
            width: 100%;
            height: 100px;
            border-radius: 0px 0px 25px 25px ;
            background: #13334A;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

    }
}

.modal_fundo > div{
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 50px;
}

.modal_fundo2 > div{
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 50px;
}

.modal_fundo aside{
    width: 90%;
    margin-bottom: 40px;
    display: flex;
    justify-content: right;
    
    p{
        width: auto;
        border-radius: 10px;
        border: 1px solid #000;
        background: #13334A;
        padding: 10px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        color: #FFF;
        text-align: center;
        font-size: 27px;
        font-family: Arial, Helvetica, sans-serif;
    }

}

.modal_fundo2 aside{
    width: 90%;
    margin-bottom: 70px;
    display: flex;
    justify-content: right;
    
    p{
        width: auto;
        border-radius: 10px;
        border: 1px solid #000;
        background: #13334A;
        padding: 10px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        color: #FFF;
        text-align: center;
        font-size: 27px;
        font-family: Arial, Helvetica, sans-serif;
    }

}

.blur {
    filter: blur(15px);
}