body {
    font-family: Arial, sans-serif;
    background-color: #478bf2b0;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#fileInput {
    cursor: pointer;
}
#imageUse {
    border-radius: 20px;
    padding: 60px;
}
#mage:hover {
    background-color: #bbbbbb;
    cursor: pointer;
    transform: translateY(10px, 10px);
}
#mage {
    position: absolute;
    top: 300px;
    left: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 70px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.578);
}
#mage a {
    text-decoration: none;
    padding: 5px;
    color: #000;
}

/* Estilo para a imagem no canto esquerdo */
.logo {
    position: absolute; /* Posicionamento absoluto em relação ao canto da página */
    top: 0px;          /* Ajuste a distância do topo da página */
    left: 0px;         /* Ajuste a distância do lado esquerdo da página */
    width: 12%;       /* Defina a largura da imagem */
    height: auto;       /* Mantenha a proporção da imagem */
}

/* Título principal */
h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}


/* Input e Label */
label {
    color: #000000;
    font-size: 1.1em;
    margin-right: 10px;
}
div input[type="file"] {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
}
input[type="text"]{
    padding: 8px;
    font-size: 1em;
    margin-bottom: 15px;
    width: 100%;
    max-width: 350px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
}

/* Botões */
button {
    padding: 10px 20px;
    font-size: 1em;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.299);
}

button:hover {
    background-color: #d5d5d5;
    border: none;
}

/* Estilização do vídeo */
video {
    width: 100%;
    max-width: 500px;
    border: 2px solid #333;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Resultado */
p#result {
    font-size: 1.2em;
    margin-top: 20px;
    color: #333;
}

/* Imagem do usuário capturada */
img#userImage {
    display: block;
    max-width: 300px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid #ccc;
}
#avisos {
    float: right;
    width: 100px;
    height: 100px;
    background-color: #fff;
}


/* Ajustes responsivos */
@media (max-width: 600px) {
    video {
        max-width: 100%;
        height: auto;
    }
    
    button {
        width: 100%;
        padding: 15px;
    }

    input[type="text"], input[type="file"] {
        max-width: 100%;
}
}