body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#f7f7f7;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #007bffd6;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.div-logo {
    display: flex;
    align-items: center;
    height: 15vh;
    gap: 2vh;
}

.div-logo h1 {
    font-size: 1.5rem;
    color: #333;
}

.div-logo img{
    height: 15vh;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}

nav a:hover {
    color: #000000;
}

main {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px;
    box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.1);
}
.centro-img{
}

.welcome-item {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    text-align: center;

}

.welcome-item img {
    width: 80px;
    height: 80px;
    margin-right: 25px;
}

.welcome-item p {
    font-size: 1.2rem;
    color: #333;
}

h2{
    text-align: center;
}

.instructions-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 150px;
    padding: 20px;
}

.instruction-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30%; /* Cada item ocupa 30% do espaço */
    margin: 20px;
}

.instruction-item img {
    width: 120px; /* Ajuste o tamanho das imagens */
    height: auto;
}

.instruction-item p {
    font-size: 1.2rem;
    color: #333;
}

/* Estilos para a área de conteúdo sem o header */
.container-cadastrar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

/* Estilo da seção de formulário */
.form-section {
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.form-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.form-section p {
    color: #555;
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.form-section label {
    display: block;
    text-align: left;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.form-section input[type="text"],
.form-section input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.1rem;
}

.form-section input[type="text"]:focus,
.form-section input[type="file"]:focus {
    outline: none;
    border-color: #007bff;
}

.form-section button {
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-section button:hover {
    background-color: #0056b3;
}

.form-section #result {
    margin-top: 20px;
    font-size: 1.1rem;
    color: red;
}

/* Responsividade */
@media (max-width: 768px) {
    .form-section {
        padding: 20px;
    }
}

.popup-result {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 1.4rem;
    z-index: 1000;
    display: none; 
}

.popup-result.show {
    display: block; 
}

.popup-result.hidden {
    display: none; 
}

.popup-result.success {
    border-color: green;
}

.popup-result.error {
    border-color: red;
}

.about-section p {
    font-size: 1.6rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about-section li a:hover{
   text-decoration: underline;
}


.social-links {
    list-style: none;
    padding: 0; 
}

.social-links li {
    display: flex;
    margin: 10px;
}

.social-links a {
    text-decoration: none; 
    color: #007bff; 
    font-size: 1.4rem;
}

.social-links a:hover {
    text-decoration: underline; 
}

.tecnologia img{
    cursor: pointer;
}


